body {
	background-color: #2D2D30;
	font-family: 'Inconsolata', monospace;
	color: #DCDCDC;
	line-height: 1;
	padding-right: 15px;
}

.title {
	color: #999999;
	padding-top: 10px;
}

.icon-column {
	width: 4%;
	padding-left: 20px;
}

.project-icon {
	font-size: 32px;
}

.menu-area {
	background-color: #2D2D30;
	padding-top: 10px;
}

.main-area {
	background-color: #1E1E1E;
	border: 1px solid #3F3F46;
	border-top: 0;
	padding-top: 20px;
	padding-left: 20px;
	line-height: 1;
	font-size: 14px;
}

.code-area > div {
	margin: 3.5px 0;
}

.side-area {
	background-color: #252526;
	border: 1px solid #3F3F46;
	margin-top: 30px;
}

.nav-tabs {
	border-bottom: 3px solid #007ACC;
 }

.nav-tabs .nav-link.active {
	background-color: #007ACC;
	border: 0;
	font-size: 14px;
	color: #DCDCDC;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 0;
	margin-bottom: 1px;
}

.nav-item {
	margin: 0 3px;
}

.nav-link-hold {
	font-size: 14px;
	background-color: #3F3F46;
}

.tab1 {
	padding-left: 30px;
}

.tab2 {
	padding-left: 60px;
}

.social-icon {
	font-size: 4vw;
}

.information-area {
	height: 85%;
}

.social-area {
	height: 15%; 
} 

.social-area > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: #DCDCDC;
}

.blue-text {
	color: #2B91AF;
}

.green-text {
	color: #4EC9B0;
}

.dark-green-text {
	color: #57A64A;
}

.orange-text {
	color: #F5A767;
}

.red-dot {
	background-color: #a52a2a;
	border: 1px solid white;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	margin-top: 0 !important; 
}

.yellow-dot {
	background-color: #EFF284;
	border: 1px solid white;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	margin-top: 0 !important; 
}

.red-link {
	background-color: #a52a2a;
	text-decoration: none;
	cursor: pointer;
}

.red-link > span {
	color: #DCDCDC;
}

.yellow-link {
	color: #1F1F1F;
	background-color: #EFF284;
	text-decoration: none;
	cursor: pointer;
}

.yellow-link > span {
	color: #1F1F1F;
}